*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: "Roboto", "Open Sans", sans-serif; }

:root {
  --background-color: #fde4b6;
  --text-color-dark: #2c2e2f;
  --text-color-grey: #979797;
  --text-color-light: #f5f5f5;
  --font-size-regular: 16px;
  --letter-spacing-small: 1px; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
  position: relative; }

.logo-container {
  position: absolute;
  left: 10px;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.logo-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px; }

.logo {
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom left, #fff 0%, #fff 50%, var(--background-color) 50%, var(--background-color) 100%); }

.new-arrivals {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%, 0);
  z-index: 3; }

.line-above hr {
  width: 40px;
  margin: auto; }

.line-above h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1px; }

.feature-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center; }

.feature-title {
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 9px; }

.feature-description {
  font-size: var(--font-size-regular);
  font-weight: 100;
  text-align: center;
  color: var(--text-color-dark);
  font-family: "Open Sans", sans-serif; }

.feature-price {
  display: flex;
  font-size: var(--font-size-regular);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 30px auto; }

.discounted-price {
  margin-right: 10px;
  letter-spacing: var(--letter-spacing-small); }

.original-price {
  color: darkgrey;
  font-size: var(--font-size-regular);
  font-weight: bold;
  text-decoration: line-through;
  letter-spacing: var(--letter-spacing-small); }

.feature-cta button {
  background-color: black;
  padding: 15px 30px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  box-shadow: -5px 17px 60px 2px rgba(0, 0, 0, 0.36);
  letter-spacing: var(--letter-spacing-small); }

.feature-cta span {
  padding-left: 2px; }

.orange-background {
  background-color: var(--background-color);
  width: 50%; }

.overlay {
  position: absolute;
  left: 45%;
  top: 15%; }

.overlay img {
  width: 400px; }

.items-section {
  display: flex;
  flex-direction: row; }

.item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1px solid #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px; }

.item-title {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px; }

.item-description {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--text-color-grey);
  font-weight: 100; }

.item-price {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  letter-spacing: var(--letter-spacing-small); }

.sale {
  position: relative; }

.sale-tag {
  position: absolute;
  background-color: #2c2e2f;
  width: 22%;
  height: 4%;
  left: -8%;
  top: 5%;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center; }

.sale-tag span {
  color: var(--text-color-light);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: var(--letter-spacing-small); }

.composition {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 500px; }

.discover {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100; }

.recent-posts {
  margin: 80px auto; }

.line-above hr {
  width: 40px;
  margin: auto; }

.line-above h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1px; }

.moods-description {
  font-weight: 100;
  text-align: center;
  padding-bottom: 20px; }

.moods-title {
  letter-spacing: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 36px; }

.moods-cta {
  display: flex;
  justify-content: center;
  margin: 40px; }

.moods-cta button {
  background-color: white;
  border: 0.5px solid lightgrey;
  padding: 15px 35px;
  color: var(--text-color-dark); }

.carousel-container {
  position: absolute;
  left: 35%;
  top: 15%;
  z-index: 999;
  height: auto;
  width: 350px; }

.slider-container img {
  display: block;
  height: auto;
  width: 350px; }

.slick-dots {
  display: flex;
  margin: 0;
  padding: 0.5rem 0;
  list-style-type: none;
  bottom: 0;
  right: 50%; }

.slick-dots button {
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  background-color: var(--text-color-grey);
  opacity: 0.3;
  text-indent: -999999px;
  border-radius: 100%; }

.slick-dots li.slick-active button {
  transform: scale(1.5);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.205); }

.slick-prev,
.slick-next {
  font-size: 25px;
  position: absolute;
  color: #f5f5f5;
  z-index: 2222; }

.slick-prev {
  right: 93%;
  top: 43%; }

.slick-next {
  left: 93%;
  top: 43%; }

@media only screen and (max-width: 1400px) {
  .carousel-container {
    left: 10%;
    top: 15%; } }

@media only screen and (max-width: 768px) {
  header,
  .composition {
    flex-direction: column;
    justify-content: center;
    height: 1000px; }
  .feature-section,
  .discover {
    width: 100%;
    height: 500px; }
  .overlay {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 50px; }
  .items-section {
    flex-direction: column; }
  .item {
    width: 100%; }
  .sale-tag {
    width: 16%;
    height: 8%;
    left: -6%;
    top: 8%; }
  .carousel-container {
    position: static;
    margin: auto; }
  .slider-container img {
    display: block;
    width: 400px; } }
